@import "tailwindcss";

html, body {
  background-color: #12161B;
  color: #F3F4F6;
  margin: 0;
  padding: 0;
  /* This completely stops the rubber-band bouncing / "play" at the top and bottom */
  overscroll-behavior-y: none; 
}

#root {
  height: 100%;
  width: 100%;
}